<div class="band">
  <section class="container padding-bottom main-page articles">
    <div class="sixteen columns main-content">
      <h4><strong>Novidades</strong></h4>
      <br class="clearfix" />
  
      <% @articles.each do |article| %>
        <div class="article clearfix">
          <span class="ui-date">
            <span class="ui-day"><%= I18n.localize(article.created_at, :format => "%d") %></span>
            <span class="ui-month"><%= I18n.localize(article.created_at, :format => "%b") %></span>
          </span>

          <%= link_to article.title, article, class: "article-title" %>
          <br />
          <p class="contact-text"><%= article.excerpt %></p>

          <span class="article-content">
            <%= simple_format article.content %>
          </span>
        </div>
      <% end %>

    <div>
  </section>
</div>