<div class="band">
  <section class="container padding-bottom main-page institucional">
    <div class="sixteen columns main-content">
      <h4 style="margin-bottom: 20x;">Sobre a Expresso Rasante</h4>
      <span class="main-text">
        <figure class="left"><%= image_tag "logo.png", width: 240, height: 200 %></figure>
        <p style="margin-right: 30px;">Fundada em 2000, a Rasante tem o objetivo de trazer solução para o transporte de cargas. A Rasante investe em treinamento, tecnologia e sensibilização de seus funcionários. Acompanhar a dinâmica do mercado sempre foi a prioridade para a Rasante desde sua fundação.
Todos os integrantes da Rasante conhecem a fundo a filosofia da prestação de serviços da empresa, recebendo constante treinamento, objetivando a busca pela excelência  e a satisfação de seus Clientes.  Isso tudo para atender  às  necessidades de seus clientes sempre com qualidade e comprometimento; a Rasante investe em frota com veículos adequando-os às necessidades de seus clientes, treinamento de seus colaboradores, fatores que garantem um alto desempenho no Transporte.
Rapidez, eficiência e segurança com um sistema diferenciado de atendimento que se adapta as peculiaridades de cada Cliente. Monitoramento rigoroso do desempenho através da implantação e constante acompanhamento de indicadores, garantindo a continuidade e eficiência da Operação.</p>
      <hr class="hr clearfix" />
      <h4>Nossa frota</h4>
      <p>Hoje contamos com uma frota de mais ou menos 70 aparelhos disponíveis entre cavalos mecânicos, carretas e caminhões (truck e toco);<br />
As carretas disponíveis são: furgões, baús e sider’s;</p>
      <div class="four columns alpha">
        <figure class="left"><%= image_tag "scania-atc.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns">
        <figure class="left"><%= image_tag "Scania-r730-branca.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns">
        <figure class="left"><%= image_tag "scania-lideranca-trimestre.jpg", width: 190, height: 150 %></figure>
      </div>
      <div class="four columns omega">
        <figure class="left"><%= image_tag "Scania-R730-2012.jpg", width: 190, height: 150 %></figure>
      </div>
    <div>
  </section>
</div>