<footer class="band">
  <section class="container footer">
    <p class="left">Copyright © Transportadora Expresso Rasante. Todos os direitos reservados.</p>
    <p class="right">
      <%= link_to "Home", root_url %> |
      <%= link_to "Institucional", institucional_url %> | 
      <%= link_to "Segurança", seguranca_url %> | 
      <%= link_to "Gestão de risco", riscos_url %> | 
      <%= link_to "Clientes", clientes_url %>
    </p>
  </section>
</footer>