<div class="band header">
  <header class="container">
    <div class="sixteen columns">
      <div class="logo">
        <h1 id="logo">Expresso Rasante</h1>
      </div>
      <nav class="navbar">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Institucional", institucional_path %></li>
          <li><%= link_to "Segurança", seguranca_path %></li>
          <li><%= link_to "Gestão de riscos", riscos_path %></li>
          <li><%= link_to "Clientes", clientes_path %></li>
        </ul>
      </nav>
    </div>
  </header>
</div>